<% if @task.errors.any? %>
  <ul>
  <% @task.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
<% end %>

<%= form_for(task) do |form| %>
  <%= form.label :title, t('tasks.title') %>
  <%= form.text_field :title %>

  <%= form.label :subject, t('tasks.subject') %>
  <%= form.text_field :subject %>

  <%= form.label :start_time, t('tasks.start_time') %>
  <%= form.datetime_field :start_time %>

  <%= form.label :end_time, t('tasks.end_time') %>
  <%= form.datetime_field :end_time %>

  <%= form.submit class: "task" %>
<% end %>
