<h1><%= t('tasks.index_title')%></h1>

<%= render 'form', task: @task %>

<br>

<%= link_to t('tasks.order_by_asc'), root_path(order: "asc") %>
<br>
<%= link_to t('tasks.order_by_desc'), root_path(order: "desc") %>

<table>
  <thead>
    <tr>
      <th><%= t('tasks.id') %></th>
      <th><%= t('tasks.title') %></th>
      <th><%= t('tasks.subject') %></th>
      <th><%= t('tasks.created_at') %></th>
      <th><%= t('tasks.start_time') %></th>
      <th><%= t('tasks.end_time')%></th>
      <th><%= t('tasks.options') %></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.id %></td>
        <td><%= link_to task.title, task_path(task) %></td>
        <td><%= link_to task.subject, task_path(task) %></td>
        <td><%= task.created_at.strftime("%Y/%b/%d %X") %></td>
        <td><%= task.start_time.strftime("%Y/%b/%d %X") %></td>
        <td><%= task.end_time.strftime("%Y/%b/%d %X") %></td>
        <td><%= link_to t('tasks.edit'), edit_task_path(task) %> / <%= link_to t('tasks.delete'), task_path(task), method: 'delete', data: { confirm: t('tasks.are_you_sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
