<h1><%= t('tasks.index_title')%></h1>

<br>

<button type="button" class="index btn btn-primary "><%= link_to "新增任務", new_task_path %></button>

<br>

  <form class="form-inline my-2 my-lg-0">
      <%= form_tag root_path, method: :get do %>
        <%= text_field_tag "keyword", nil, placeholder: t('tasks.search_by_title_or_subject'), class: "form-control mr-sm-2" %>
        <%= submit_tag t('tasks.search'), class: "search btn btn-outline-success my-2 my-sm-0" %>
      <% end %>
  </form>

<br>

<button type="button" class="index btn btn-primary btn-sm"><%= link_to t('tasks.sort_by_asc'), root_path(order_by_created_time: "asc") %></button>
<button type="button" class="index btn btn-primary btn-sm"><%= link_to t('tasks.sort_by_desc'), root_path(order_by_created_time: "desc") %></button>
<button type="button" class="index btn btn-primary btn-sm"><%= link_to t('tasks.sort_by_endtime_asc'), root_path(order_by_end_time: "asc") %></button>
<button type="button" class="index btn btn-primary btn-sm"><%= link_to t('tasks.sort_by_endtime_desc'), root_path(order_by_end_time: "desc") %></button>
<button type="button" class="index btn btn-primary btn-sm"><%= link_to t('tasks.sort_by_priority_asc'), root_path(order_by_priority: "asc") %></button>
<button type="button" class="index btn btn-primary btn-sm"><%= link_to t('tasks.sort_by_priority_desc'), root_path(order_by_priority: "desc") %></button>

<div class="btn-group">
  <button type="button" class="index btn btn-primary btn-sm dropdown-toggle search_by_state" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= t('tasks.search_by_state') %>
  </button>
  <div class="dropdown-menu">
    <%= link_to t('tasks.all_tasks'), root_path, class: "dropdown-item" %>
    <%= link_to t('tasks.task_state.pending'), root_path(search_by_state: "pending"), class: "dropdown-item pending" %>
    <%= link_to t('tasks.task_state.processing'), root_path(search_by_state: "processing"), class: "dropdown-item processing" %>
    <%= link_to t('tasks.task_state.completed'), root_path(search_by_state: "completed"), class: "dropdown-item completed" %>
  </div>
</div>

<br>

<table class="table">
  <thead>
    <tr>
      <th scope="col"><%= t('tasks.id') %></th>
      <th scope="col"><%= t('tasks.title') %></th>
      <th scope="col"><%= t('tasks.subject') %></th>
      <th scope="col"><%= t('tasks.priority') %></th>
      <th scope="col"><%= t('tasks.created_at') %></th>
      <th scope="col"><%= t('tasks.start_time') %></th>
      <th scope="col"><%= t('tasks.end_time') %></th>
      <th scope="col"><%= t('tasks.state') %></th>
      <th scope="col">標籤</th>
      <th scope="col"><%= t('tasks.options') %></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <th scope="row"><%= task.id %></th>
        <td><%= link_to task.title, task_path(task) %></td>
        <td><%= link_to task.subject, task_path(task) %></td>
        <td><%= t("tasks.task_priority.#{task.priority}") %></td>
        <td><%= task.created_at.strftime("%Y / %b / %d %X") %></td>
        <td><%= task.start_time.strftime("%Y / %b / %d %X") %></td>
        <td><%= task.end_time.strftime("%Y / %b / %d %X") %></td>
        <td><%= t("tasks.task_state.#{task.state}") %></td>
        <td><%= task.tag_list %></td>
        <td>
        <%= link_to t('tasks.start'), start_task_path(task) if task.state == 'pending' %>
        <%= link_to t('tasks.complete'), complete_task_path(task) if task.state == 'processing' %>
        <%= link_to t('tasks.edit'), edit_task_path(task) %>
        <%= link_to t('tasks.delete'), task_path(task), method: 'delete', data: { confirm: t('tasks.are_you_sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <%= paginate @tasks %>
</div>
